.7939_1639 { 
	overflow:hidden;
	border:1px solid rgba(249.00000035762787, 250.00000029802322, 251.00000023841858, 1);
}
.e7939_1639 { 
	background-color:rgba(237.0000010728836, 242.00000077486038, 246.0000005364418, 1);
	width:1920px;
	height:1311px;
	position:absolute;
}
.e7939_1640 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1920px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
